

header{
    background-color: rgba(61, 128, 228, 0.562);
    background-image: url(img/pattern.png);
    height: 180px;
}

#logo {
    width: 300px;
}

#title {
    font-size: 4.5rem;
}

#booleaner {
    font-size: 1rem;
}

#booleaner-blue {
    color: rgb(0, 140, 255);
}

.gray-text {
    color: gray;
}

#description-img {
    font-size: 0.7rem;
}

.yellow-text {
    background-color: rgb(255, 238, 0);
}

.blue-table {
    background-color: rgb(0, 140, 255);
}

.azure-table {
    background-color: aquamarine;
}

.img1-bottom {
    background-image: url(img/monitor.jpg);
    background-size: cover;
    height: 200px;
    width: 300px;
}

.img2-bottom {
    background-image: url(img/graph.jpg);
    background-size: cover;
    height: 200px;
    width: 300px;
}

.bottom-span {
    font-size: 1.5rem;
    color: white;
}